body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3a3b3c;
    margin: 0;
}

button {
    background-color: #cd853f; /* Peru color */
    font-size: 24px;
    border: none;
    border-radius: 50%;
    padding: 40px;
    margin: 10px;
    width: 200px;
    height: 200px;
    text-align: center;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #a56b2d;
    transform: scale(1.1);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.75);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark text for contrast */
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #cd853f; /* Matching border color */
    transition: all 0.3s ease-in-out;
}

.results:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
